.content {
    margin-top: 100px; /* Space between navigation bar and content */
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.crossword-table {
    border-collapse: collapse;
    margin: auto; /* Center the table */
    width: auto; /* Make table width responsive */
    height: auto; /* Make table height responsive */
}

.crossword-table td {
    width: 40px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    font-weight: normal;
}

.alphabet {
    position: absolute;
    transition: all 1.5s ease;
}

.alphabet.final {
    position: relative;
    transition: none;
}
