@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --white-color:#ffffff;
    --black-color:#000000;

    --eng-font:"Josefin Sans", sans-serif;
    --kor-font:"IBM Plex Sans KR", sans-serif;
    --fs14: 14px;
    --fw600: 600;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
}
*,::before,::after{
    box-sizing: border-box;
}

body{
    font-family: var(--eng-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--black-color);
    background-color: var(--white-color);
}

a{
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

ul{list-style: none;}
p{margin: 0 0 15px;}
input,textarea.select{font: inherit;width: 100%;}
input[type=checkbox],input[type=radio] {width: auto;}
input::placeholder, textarea::placeholder {color: inherit;}
button{font: inherit;}
strong{font-weight: var(--fw600);}

.container{
    max-width: var(--mx-width, 1200px);
    padding: 0 var(--gutter, 15px);
    margin: 0 auto;
}