*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

.navbar logo{
    text-align: center;
}

.left-menu{
    flex: 1;
    text-align: left;
}

.left-menu ul{
    display: inline-block;
    list-style-type: none;
}

.left-menu ul li{
    display: inline-block;
    margin-right: 20px;
}

.right-menu{
    flex: 1;
    text-align: right;
}

.right-menu ul{
    display: inline-block;
    list-style-type: none;
}

.right-menu ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: black;
}

p{
    color: black;
}

.commerce-slider{
    width: 900px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slides{
    width: 20%;
    transition: 2s;
}

.slides input{
    display: none;
}

.slides img{
    width: 900px;
    height: 800px;
}

/*manual slide*/
.navigation-manual{
    position: absolute;
    width: 900px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid gray;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: gray;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

/*auto slide*/

.navigation-auto{
    position: absolute;
    display: flex;
    width: 900px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: none;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: gray;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: gray;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: gray;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: gray;
}


/*2*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --white-color:#ffffff;
    --black-color:#000000;

    --eng-font:"Josefin Sans", sans-serif;
    --kor-font:"IBM Plex Sans KR", sans-serif;
    --fs14: 14px;
    --fw600: 600;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
}
*,::before,::after{
    box-sizing: border-box;
}

body{
    font-family: var(--eng-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--black-color);
    background-color: var(--white-color);
}

a{
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

ul{list-style: none;}
p{margin: 0 0 15px;}
input,textarea.select{font: inherit;width: 100%;}
input[type=checkbox],input[type=radio] {width: auto;}
input::placeholder, textarea::placeholder {color: inherit;}
button{font: inherit;}
strong{font-weight: var(--fw600);}

.container{
    max-width: var(--mx-width, 1200px);
    padding: 0 var(--gutter, 15px);
    margin: 0 auto;
}
.inner-header{
    line-height: 80px;
}
.inner-header :where(.wrap, .menu >ul),
list-inline >ul{
    display: flex;
    align-items: center;
}
.header-left, .header-right{
    flex-grow: 1;
}
.header-center{
    max-width: 200px;
}
.header-right nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 180px;
    max-width: 720px;
}
.header-right ul{
    justify-content: flex-end;
}
.list-inline a{
    position: relative;
    font-size: var(--fs14);
    padding: 0 15px;
    line-height: 1;
}

@media (min-width:992px){
    .menu-trigger{
        display: none;
    }
}